{{#popup-modal}}
  <div class="content">
    <div class="header">
      <h3 class="ui left floated header">
          {{title}}
      </h3>
      <h3 class="ui right floated header">
        <i class="large close icon" {{action (route-action "closeModal")}}></i>
      </h3>
    </div>
  </div>

  <div class="content">
    {{yield}}
  </div>

  <div class="extra content">
    <div class="right floated">
      <div class="ui deny button" {{action (route-action "closeModal")}}>
        Cancel
      </div>
      <div class="ui positive right button" {{action "yes"}}>
        Add
      </div>
    </div>
  </div>
{{/popup-modal}}
