<!--p>
  {{#if isEditing}}
    {{paper-input label="Name" size=20 value=char.name}}
  {{else}}
    <h2>{{char.name}}</h2>
  {{/if}}
  {{!edit-btn isEditing=isEditing submit=(action editChar)}}
  {{#paper-button raised=true action="editChar" icon-button=true}}
    {{paper-icon "edit" size="sm"}}
  {{/paper-button}}
  {{#paper-button raised=true action="deleteChar" icon-button=true}}
    {{paper-icon "delete" size="sm"}}
  {{/paper-button}}
  {{!#bs-button type="danger" class="btn-sm" action=(action deleteChar)}}X{{!/bs-button}}
</p-->


{{#paper-card}}
  {{#paper-card-content}}
    {{#if isEditing}}
      {{paper-input label="Name" size=20 value=char.2name event-enter=(action editChar)}}
    {{else}}
      <div>
        <strong class="md-display-1">{{char.name}}</strong>
      </div>
    {{/if}}
    <p>
      {{create-line-note create=attrs.create}}
      {{date-sorted-notes-list char=char notes=char.notes
                               delete=attrs.deleteNote
                               edit=attrs.editNote
                               class="table table-striped"}}
    </p>
  {{/paper-card-content}}
{{/paper-card}}
