<p>
  {{#if isEditing}}
    {{input size=20 value=char.name}}
  {{else}}
    <u class="lead">{{char.name}}</u>
  {{/if}}
  {{edit-btn isEditing=isEditing submit=(action editChar)}}
  {{#bs-button type="danger" class="btn-sm" action=(action deleteChar)}}X{{/bs-button}}
</p>
{{create-line-note create=attrs.create}}
{{date-sorted-notes-list char=char notes=char.notes
                         delete=attrs.deleteNote
                         edit=attrs.editNote
                         class="table table-striped"}}
