<form>
    {{input value=page placeholder="Page"}}
    {{input value=line placeholder="Line"}}
    {{input value=note placeholder="Note"}}
    {{input value=error placeholder="Error"}}
    <button {{action (action addNote page line note error)}}>Create</button>
    {{yield}}
</form>
