{{#modal-dialog close=(action close)
                targetAttachment="center"
                translucentOverlay=true}}
  <i class="close icon"></i>
  <div class="header">
    Add Line Note
  </div>
  <div class="content">
    <label>Line</label>
    <div class="ui fluid input">
      {{input type="text" value=line}}
    </div>

    <label>Page</label>
    <div class="ui fluid input">
      {{input type="text" value=page}}
    </div>

    <label>Note</label>
    <div class="ui fluid input">
      {{input type="text" value=note}}
    </div>

    {{#ui-dropdown class="selection" onChange=(action (mut error))}}
      <div class="default text">Error</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each errorTypes.errors as |err index|}}
          <div class="item" data-value={{index}}>
            {{capitalize err}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
  </div>
  <div class="actions">
    <div class="ui deny button" {{action (action close)}}>
      Cancel
    </div>
    <div class="ui positive right button" {{action "addNote"}}>
      Add
    </div>
  </div>
{{/modal-dialog}}
