<td class="collapsing">
  {{#if isEditing}}
    <div layout>
      {{paper-input flex=true value=note.page hideAllMessages=true
                    class="note-detail-editing"
                    onChange=(action (mut page))}}
    </div>
  {{else}}
    {{note.page}}
    {{#tooltip-on-element}}
      {{moment-calendar note.date}}
    {{/tooltip-on-element}}
  {{/if}}
</td>
<td>
  {{#if isEditing}}
    <div layout>
      {{paper-input flex=true value=note.line hideAllMessages=true
                    class="note-detail-editing"
                    onChange=(action (mut line))}}
    </div>
  {{else}}
    {{{richTextLine}}}
  {{/if}}
</td>
<td class="collapsing">
  {{#if isEditing}}
    {{#paper-select value=note.error class="note-detail-editing"
                    onChange=(action (mut note.error))}}
      {{#each errorTypes.errors as |err index|}}
        {{#paper-option value=index}}
          {{capitalize err}}
        {{/paper-option}}
      {{/each}}
    {{/paper-select}}
  {{else}}
    {{error-str note.error}}
  {{/if}}

</td>
<td class="collapsing">
  <div class="ui fitted slider checkbox">
    {{input type="checkbox" click="editNote"}} <label></label>
  </div>
</td>
