<td class="col-sm-1">
  {{#if isEditing}}
    <div layout layout-sm="column">
      {{paper-input attr-size=3 value=note.page}}
    </div>
  {{else}}
    {{note.page}}
  {{/if}}
</td>
<td class="col-sm-7">
  {{#if isEditing}}
    <div layout layout-sm="column">
      {{paper-input attr-size=50 value=note.line}}
    </div>
  {{else}}
    {{{richTextLine}}}
  {{/if}}
</td>
<td class="col-sm-2">
  {{#if isEditing}}
    {{#paper-select placeholder="Error" model=note.error}}
      {{#each errorTypes.errors as |err index|}}
        {{#paper-option value=index}}
          {{capitalize err}}
        {{/paper-option}}
      {{/each}}
    {{/paper-select}}
  {{else}}
    {{error-str note.error}}
  {{/if}}

</td>
<td class="col-sm-1">
  {{paper-switch checked=isEditing onChange="editNote" type="primary"}}
</td>
<td class="col-sm-1">
  {{#paper-button warn=true raised=true action=(action delete note) icon-button=true}}
    {{paper-icon "delete"}}
  {{/paper-button}}
</td>
