<thead>
  <tr>
    <th>Page</th>
    <th>Line</th>
    <th>Error</th>
    <th>Edit</th>
  </tr>
</thead>
{{#if noNotes}}
  No notes found.
{{else}}
  <tbody>
    {{#each sortedNotes as |note|}}
      {{note-detail note=note edit=attrs.edit delete=attrs.delete}}
    {{/each}}
  </tbody>
  <tfoot class="full-width">
    <tr>
      <th colspan="4">
        <button class="ui small primary button" {{action "toggleAddNoteModal"}}>
          <i class="user icon"></i> Add Note
        </button>
        <button class="ui small button" {{action "editChar"}}>
          Edit Character
        </button>
        <button class="ui small button" {{action "deleteChar"}}>
          Delete Character
        </button>
      </th>
    </tr>
  </tfoot>
{{/if}}
