<td class="col-sm-1">
  {{#if isEditing}}
    {{bs-input size=3 value=note.page}}
  {{else}}
    {{note.page}}
  {{/if}}
</td>
<td class="col-sm-6">
  {{#if isEditing}}
    {{bs-input size=50 value=note.line}}
  {{else}}
    {{{richTextLine}}}
  {{/if}}
</td>
<td class="col-sm-3">
  {{#each errorTypes.errors as |err index|}}
    {{#bs-button disabled=(and (not-eq index note.error) (not isEditing))
               active=(eq index note.error) value=index}}
      {{err}}
    {{/bs-button}}
  {{/each}}
</td>
<td class="col-sm-1">
  {{edit-btn isEditing=isEditing submit=(action "editNote")}}
</td>
<td class="col-sm-1">
  {{#bs-button type="danger" class="btn-sm" action=(action delete note)}}X{{/bs-button}}
</td>
