<thead>
  <tr>
    <th>Page</th>
    <th>Line</th>
    <th>Note</th>
    <th>Error</th>
    <th></th>
  </tr>
</thead>
<tbody>
  {{#each notes as |note|}}
  <tr>
    <td>{{note.page}}</td>
    <td>{{note.line}}</td>
    <td>{{note.note}}</td>
    <td>{{note.error}}</td>
    <td><button type="button" class="btn btn-danger"
                {{action (action delete note)}}>X</button></td>
  </tr>
  {{/each}}
</tbody>
