<td class="collapsing">
  {{#if isEditing}}
    <div class="ui fluid input">
      {{input value=note.page size="1"}}
    </div>
  {{else}}
    {{note.page}}
    {{#tooltip-on-element}}
      {{moment-calendar note.date}}
    {{/tooltip-on-element}}
  {{/if}}
</td>
<td>
  {{#if isEditing}}
    <div class="ui fluid input">
      {{input value=note.line}}
    </div>
  {{else}}
    {{{richTextLine}}}
  {{/if}}
</td>
<td class="collapsing">
  {{#if isEditing}}
    {{#ui-dropdown class="fluid selection" selected="Bob" onChange=(action (mut error))}}
      <div class="default text">Error</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#each errorTypes.errors as |err index|}}
          <div class="item" data-value={{index}}>
            {{capitalize err}}
          </div>
        {{/each}}
      </div>
    {{/ui-dropdown}}
  {{else}}
    {{error-str note.error}}
  {{/if}}

</td>
<td class="right aligned collapsing">
  {{ui-checkbox class="toggle"
                onChange=(action "editNote")}}
</td>
