<div class="layout-row layout-padding layout-wrap layout-align-space-around">
  {{#each model as |show|}}
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}{{show.name}}{{/text.headline}}
        {{/title.text}}
      {{/card.title}}
      {{#link-to 'shows.show-detail' show.id}}
        {{card.image src=(img-src show.name)
                     alt="Show Image" title="Show Image" class="show-list-img"}}
      {{/link-to}}
      {{#card.actions}}
        {{#paper-button iconButton=true onClick=(action "toggleEditShowModal" show)}}
          {{paper-icon "edit"}}
        {{/paper-button}}
        {{#paper-button iconButton=true onClick=(action "deleteShow" show)}}
          {{paper-icon "delete"}}
        {{/paper-button}}
      {{/card.actions}}
    {{/paper-card}}
  {{/each}}
</div>
<div class="layout-row layout-align-center">
  {{#paper-button raised=true fab=true
                  onClick=(action "toggleAddShowModal")}}
    {{paper-icon "add"}}
  {{/paper-button}}
</div>

{{#if openModal}}
  {{#paper-dialog onClose=(action "toggleEditShowModal")}}
    {{#paper-dialog-content}}
      <h2 class="md-title">Edit Show</h2>
      <div layout class="layout-column">
        {{paper-input placeholder="Show Name" autofocus=true flex=true
                      value=editedShow.name onKeyDown=(action "updateModalButton")
                      onChange=(action (mut editedShow.name))}}

        {{#file-picker accept=".jpg,.jpeg,.gif,.png"
                       fileLoaded="fileLoaded"
                       readAs="readAsDataURL"}}
          Drag here or click to upload a show image.
        {{/file-picker}}

        <h4>Assigned Users:
          {{#if addingAssignedUser}}
            {{#paper-select getItems=onUserLoad
              itemLabelCallback=userLabelCallback
              placeholder="Assign to a user" value=selectedUser
              onChange=(action (mut selectedUser)) as |items|}}

              {{#each items as |user|}}
                {{#paper-option value=user}}
                  {{user.name}}
                {{/paper-option}}
              {{/each}}
            {{/paper-select}}
          {{/if}}

          {{#paper-button class="md-secondary" primary=true iconButton=true
                          onClick=(action "addAssignedUser")}}
            {{paper-icon "group-add"}}
          {{/paper-button}}
        </h4>
        {{#paper-list}}
          {{#each show.assignedUsers as |user|}}
            {{#paper-item}}
              <p>Test User 1</p>
              {{#paper-button class="md-secondary" iconButton=true
                              onClick=(action "removeAssignedUser")}}
                {{paper-icon "delete"}}
              {{/paper-button}}
            {{/paper-item}}
          {{/each}}
        {{/paper-list}}
      </div>
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button raised=true
                      onClick=(action "toggleEditShowModal" show)}}
        Cancel
      {{/paper-button}}
      {{#paper-button primary=true raised=true
                      onClick=(action "editShow" editedShow)}}
        {{confirmText}}
      {{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}

{{#if openAddModal}}
  {{#paper-dialog onClose=(action "toggleAddShowModal")}}
    {{#paper-dialog-content}}
      <h2 class="md-title">Create New Show</h2>
      {{paper-input placeholder="Show Name" autofocus=true
                    value=newShowName onChange=(action (mut newShowName))}}
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button raised=true
                      onClick=(action "toggleAddShowModal")}}
        Cancel
      {{/paper-button}}
      {{#paper-button primary=true raised=true
                      onClick=(action "createShow" newShowName)}}
        Add
      {{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}
