<div class="layout-row layout-padding layout-wrap layout-align-space-around">
  {{#each model as |show|}}
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}{{show.name}}{{/text.headline}}
        {{/title.text}}
      {{/card.title}}
      {{#link-to 'shows.show-detail' show.id}}
        {{card.image src=(img-src show.name)
                     alt="Show Image" title="Show Image" class="show-list-img"}}
      {{/link-to}}
      {{#card.actions}}
        {{#paper-button iconButton=true onClick=(action "toggleEditShowModal" show)}}
          {{paper-icon "edit"}}
        {{/paper-button}}
        {{#paper-button iconButton=true onClick=(action "deleteShow" show)}}
          {{paper-icon "delete"}}
        {{/paper-button}}
      {{/card.actions}}
    {{/paper-card}}
  {{/each}}
</div>

{{#if openModal}}
  {{#paper-dialog onClose=(action "toggleEditShowModal")}}
    {{#paper-dialog-content}}
      <h2 class="md-title">Edit Show</h2>
      {{paper-input placeholder="Show Name" autofocus=true
                    value=editedShow.name onChange=(action (mut editedShow.name))}}
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button primary=true
                      onClick=(action "toggleEditShowModal" show)}}
        Cancel
      {{/paper-button}}
      {{#paper-button primary=true
                      onClick=(action "editShow" editedShow)}}
        Edit
      {{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}
