<div>
  <p class="lead">
    {{model.name}}
    <button class="btn btn-sm btn-danger" {{action "deleteShow" show}}>X</button>
    <button class="btn btn-sm btn-success" {{action "openAddCharModal"}}>+</button>
  </p>
</div>

<ul>
{{#each model.characters as |char|}}
  {{char-detail char=char
      create=(action "addNote" char)
      deleteChar=(action "deleteChar" model char)
      deleteNote=(action "deleteNote" char)
      editChar=(action "editChar" char)
      editNote=(action "editNote")}}
{{/each}}
</ul>
{{#if openModal}}
  {{#bs-modal title="Add New Character" body=false footer=false closeAction="resetModal"}}
    {{#bs-modal-body}}
      {{#bs-form action=(action "addChar" model name) model=this}}
        {{bs-form-element controlType="text" label="Character Name" property="name" autofocus=true}}
      {{/bs-form}}
    {{/bs-modal-body}}
    {{bs-modal-footer closeTitle="Cancel" submitTitle="Add"}}
  {{/bs-modal}}
{{/if}}
