<div class="ui centered raised link cards menu-pad">
  {{#each model as |show|}}
    <div class="ui card">
      {{#link-to 'shows.show-detail' show.slug class="image" tagName="div"}}
        <img src={{img-src show.name}} class="ui fluid image"
             alt="Show Image" title="Show Image">
      {{/link-to}}
      <div class="content">
        <div class="center aligned header">
          {{show.name}}
        </div>
      </div>
      <div class="extra content">
        <div class="right floated">
          <button class="ui labeled icon button"
                  {{action "openModal" "modals/show-edit" show}}>
            <i class="setting icon"></i> Edit
          </button>
          <button class="ui labeled icon button"
                  {{action "openModal"
                           "modals/confirm-delete"
                           (action "deleteShow" show)}}>
            <i class="trash icon"></i> Delete
          </button>
        </div>
      </div>
    </div>
  {{/each}}
</div>
<div class="ui divider"></div>
<div class="ui center aligned container">
  <h3 class="ui header">Add another show</h3>
  <button class="ui circular centered icon button"
          {{action "openModal" "modals/create-show"}}>
    <i class="large plus icon"></i>
  </button>
</div>
