<div>
  <h2>{{model.name}}</h2>
  <button class="btn btn-danger" {{action "deleteShow" show}}>X</button>
  <button class="btn btn-success" {{action "openAddCharModal"}}>+</button>
</div>

<ul>
{{#each model.characters as |char|}}
    <h3><u>{{char.name}}</u></h3>
    {{create-line-note create=(action "addNote" char)}}
    {{date-sorted-notes-list char=char notes=char.notes
                             delete=(action "deleteNote" char)
                             edit=(action "editNote")
                             class="table table-striped"}}
{{/each}}
</ul>
{{#if openModal}}
  {{#bs-modal title="Add New Character" body=false footer=false}}
    {{#bs-modal-body}}
      {{#bs-form action=(action "addChar" model name) model=this}}
        {{bs-form-element controlType="text" label="Character Name" property="name" autofocus=true}}
      {{/bs-form}}
    {{/bs-modal-body}}
    {{bs-modal-footer closeTitle="Cancel" submitTitle="Add"}}
  {{/bs-modal}}
{{/if}}
