<div>
  <p class="lead">
    {{model.name}}
    {{#bs-button type="danger" class="btn-sm" action="deleteShow" value=show}}X{{/bs-button}}
    {{#bs-button type="success" class="btn-sm" action="openAddCharModal"}}+{{/bs-button}}
  </p>
</div>

<div class="row">
  <div class="col-md-2">
    {{#paper-content class="md-whiteframe-z1"}}
      {{#paper-list}}
        {{#each sortedChars as |char|}}
          {{#paper-item class=(concat "blah md-3-line"
                          (if (eq activeChar.name char.name) " active"))
                        param=char
                        action="selectChar"}}
            <div class="md-list-item-text">
              <p>
                {{char.name}}
              </p>
            </div>
          {{/paper-item}}
        {{/each}}
      {{/paper-list}}
    {{/paper-content}}
  </div>
  <div class="col-md-10">
    {{#if activeChar}}
      {{char-detail char=activeChar
          create=(action "addNote" activeChar)
          deleteChar=(action "deleteChar" model activeChar)
          deleteNote=(action "deleteNote" activeChar)
          editChar=(action "editChar" activeChar)
          editNote=(action "editNote")}}
    {{/if}}
  </div>
</div>


{{#if openModal}}
  {{#bs-modal title="Add New Character" body=false footer=false closeAction="resetModal"}}
    {{#bs-modal-body}}
      {{#bs-form action=(action "addChar" model name) model=this}}
        {{bs-form-element controlType="text" label="Character Name" property="name" autofocus=true}}
      {{/bs-form}}
    {{/bs-modal-body}}
    {{bs-modal-footer closeTitle="Cancel" submitTitle="Add"}}
  {{/bs-modal}}
{{/if}}
