<div class="ui container">
  {{#if session.isAuthenticated}}
    <div class="ui grid">
      <div class="four wide column">
        <div class="ui vertical fluid tabular menu">
          <a class="item" {{action "toggleModal"}}>
            <i class="plus icon"></i> Add
          </a>
          {{#each sortedChars as |char index|}}
            {{#link-to 'shows.show-detail.char' char class="item"}}
              {{char.name}}
            {{/link-to}}
          {{/each}}
        </div>
      </div>
      <div class="twelve wide stretched column">
        {{outlet}}
      </div>
    </div>
  {{else}}
    <div>
      <p>You aren't logged in.</p>
    </div>
  {{/if}}
</div>

{{#if isShowingAddModal}}
  {{create-char close=(action "toggleModal")
                add=(action "addChar")}}
{{/if}}
