<div class="row">
  <div class="col-md-3">
    {{#paper-content class="md-whiteframe-z1 md-margin"}}
      {{#paper-list}}
        {{#paper-item class="md-2-line"}}
          {{paper-input attr-size=30 value=newCharName
                        onChange=(action (mut newCharName))
                        label="New" onKeyDown=(action "addChar")}}
        {{/paper-item}}
        {{#each sortedChars as |char|}}
          {{#paper-item class="md-2-line"
                        param=char
                        onClick=(action "selectChar" char)}}
            <div class="md-list-item-text">
              <p>
                {{char.name}}
              </p>
            </div>
            {{#paper-menu as |menu|}}
              {{#paper-button onClick=(action "toggleMenu" target=menu)
                              icon-button=true
                              class="md-secondary"}}
                  {{paper-icon "more-vert" class="md-menu-origin"}}
              {{/paper-button}}
            {{else}}
              {{#paper-menu-item action="editChar" param=char}}
                {{paper-icon "edit" class="md-menu-align-target"}}
                <span>Edit</span>
              {{/paper-menu-item}}
              {{#paper-menu-item action="deleteChar" param=char}}
                {{paper-icon "delete" class="md-menu-align-target"}}
                <span>Delete</span>
              {{/paper-menu-item}}
            {{/paper-menu}}
          {{/paper-item}}
        {{/each}}
      {{/paper-list}}
    {{/paper-content}}
  </div>
  <div class="col-md-9">
    {{#if activeChar}}
      {{char-detail char=activeChar
          isEditing=isEditing
          create=(action "addNote" activeChar)
          deleteChar=(action "deleteChar" model activeChar)
          deleteNote=(action "deleteNote" activeChar)
          editChar=(action "editChar" activeChar)
          editNote=(action "editNote")}}
    {{/if}}
  </div>
</div>
