<div>
  <p class="md-display-2 text-center">
    {{model.name}}
    {{#bs-button type="danger" class="btn-sm" action="deleteShow" value=show}}X{{/bs-button}}
    {{#bs-button type="success" class="btn-sm" action="openAddCharModal"}}+{{/bs-button}}
  </p>
</div>

<div class="row">
  <div class="col-md-2">
    {{#paper-content class="md-whiteframe-z1 md-margin"}}
      {{#paper-list}}
        {{#each sortedChars as |char|}}
          {{#paper-item class=(concat "md-3-line"
                          (if (eq activeChar.name char.name) " active"))
                        param=char
                        action="selectChar"}}
            <div class="md-list-item-text">
              <p>
                {{char.name}}
              </p>
            </div>
            {{#paper-menu as |menu|}}
              {{#paper-button target=menu action="toggleMenu" icon-button=true}}
                  {{paper-icon "more-vert" class="md-menu-origin"}}
              {{/paper-button}}
            {{else}}
              {{#paper-menu-item action="editChar" param=char}}
                {{paper-icon "edit" class="md-menu-align-target"}}
                <span>Edit</span>
              {{/paper-menu-item}}
              {{#paper-menu-item action="deleteChar" param=char}}
                {{paper-icon "delete" class="md-menu-align-target"}}
                <span>Delete</span>
              {{/paper-menu-item}}
            {{/paper-menu}}
          {{/paper-item}}
        {{/each}}
      {{/paper-list}}
    {{/paper-content}}
  </div>
  <div class="col-md-10">
    {{#if activeChar}}
      {{char-detail char=activeChar
          isEditing=isEditing
          create=(action "addNote" activeChar)
          deleteChar=(action "deleteChar" model activeChar)
          deleteNote=(action "deleteNote" activeChar)
          editChar=(action "editChar" activeChar)
          editNote=(action "editNote")}}
    {{/if}}
  </div>
</div>


{{#if openModal}}
  {{#bs-modal title="Add New Character" body=false footer=false closeAction="resetModal"}}
    {{#bs-modal-body}}
      {{#bs-form action=(action "addChar" model name) model=this}}
        {{bs-form-element controlType="text" label="Character Name" property="name" autofocus=true}}
      {{/bs-form}}
    {{/bs-modal-body}}
    {{bs-modal-footer closeTitle="Cancel" submitTitle="Add"}}
  {{/bs-modal}}
{{/if}}
