<div>
  <p class="lead">
    {{model.name}}
    {{#bs-button type="danger" class="btn-sm" action="deleteShow" value=show}}X{{/bs-button}}
    {{#bs-button type="success" class="btn-sm" action="openAddCharModal"}}+{{/bs-button}}
  </p>
</div>

<div class="row">
  <div class="col-md-2">
    {{#bs-button-group class="btn-group-vertical"}}
      {{#each sortedChars as |char|}}
        {{#bs-button type="default" action="selectChar" value=char}}
          {{char.name}}
        {{/bs-button}}
      {{/each}}
    {{/bs-button-group}}
  </div>
  <div class="col-md-10">
    {{char-detail char=activeChar
        create=(action "addNote" char)
        deleteChar=(action "deleteChar" model char)
        deleteNote=(action "deleteNote" char)
        editChar=(action "editChar" char)
        editNote=(action "editNote")}}
  </div>
</div>


{{#if openModal}}
  {{#bs-modal title="Add New Character" body=false footer=false closeAction="resetModal"}}
    {{#bs-modal-body}}
      {{#bs-form action=(action "addChar" model name) model=this}}
        {{bs-form-element controlType="text" label="Character Name" property="name" autofocus=true}}
      {{/bs-form}}
    {{/bs-modal-body}}
    {{bs-modal-footer closeTitle="Cancel" submitTitle="Add"}}
  {{/bs-modal}}
{{/if}}
