<div class="ui fluid card">
  <div class="content">
    {{#if isEditing}}
    <div class="ui fluid input">
      {{input attr-size=30 value=char.name
                    enter=(action "editChar" char)}}
    </div>
    {{else}}
      <div class="center aligned header">
        {{char.name}}
      </div>
    {{/if}}
  </div>
  <div class="content">
    {{notes-list char=char
                 notes=char.notes
                 edit=(action "editNote")}}
  </div>
  <div class="extra content">
    <div class="right floated">
      <button class="ui small primary button" {{action "openModal" "modals/create-line-note" char}}>
        <i class="user icon"></i> Add Note
      </button>
      <button class="ui small button" {{action "editChar" char}}>
        Edit
      </button>
      <button class="ui red small button" {{action "openModal"
                                                   "modals/confirm-delete"
                                                   (action "deleteChar" char)}}>
        Delete
      </button>
    </div>
  </div>
</div>
