{{#button-modal title="Edit Show"
                yes=(action "editShow" model)}}

  <div class="content">
    <label>Name</label>
    <div class="ui fluid input">
      {{input autofocus=true value=model.name}}
    </div>

    {{#file-picker accept=".jpg,.jpeg,.gif,.png"
                   fileLoaded="fileLoaded"
                   readAs="readAsDataURL"}}
      Drag here or click to upload a show image.
    {{/file-picker}}

    <h4>Assigned Users:</h4>
    <button class="ui circular icon button" {{action "openUserSearch"}}>
      <i class="large add user icon"></i>
    </button>


    {{#if isShowingUserSearch}}
      query: {{query}}
      selected: {{selected.title}}
      {{#ui-search source=userList
                   searchFields=fields
                   onSearchQuery=(action (mut query))
                   onSelect=(action "addAssignedUser")}}
        <div class="ui icon input">
          {{input class="prompt" placeholder="Type a name..."}}
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      {{/ui-search}}
    {{/if}}

    <div class="ui list">
      {{#each usernames as |user|}}
        <div class="item">
          {{user.title}}
        </div>
      {{/each}}
    </div>
  </div>

{{/button-modal}}
