{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#link-to 'shows.show-list'}}
      {{paper-button label='Home'}}
    {{/link-to}}
    {{#each model as |show|}}
      {{#link-to 'shows.show-detail' show.id}}
        {{paper-button label=show.name}}
      {{/link-to}}
    {{/each}}
    {{#paper-button action=(action "openAddShowModal")}}
      {{paper-icon "add"}}
    {{/paper-button}}
  </div>
{{/paper-toolbar}}
{{outlet}}
{{#if openModal}}
  {{#bs-modal title="Add New Show" body=false footer=false}}
    {{#bs-modal-body}}
      {{#bs-form action=(action "createShow" name) model=this}}
        {{bs-form-element controlType="text" label="Show Name" property="name" autofocus=true}}
      {{/bs-form}}
    {{/bs-modal-body}}
    {{bs-modal-footer closeTitle="Cancel" submitTitle="Add"}}
  {{/bs-modal}}
{{/if}}
