<div class="ui top fixed menu">
  {{#link-to 'shows.show-list'}}
    <div class="item">
      <i class="big home icon"></i>
    </div>
  {{/link-to}}

  {{#each model as |show|}}
    {{#link-to 'shows.show-detail' show.slug class="item"}}
      {{show.name}}
    {{/link-to}}
  {{/each}}

  <div class="right menu">
    {{#if session.isAuthenticated}}
      <div class="header item">
        {{session.currentUser.displayName}}
      </div>
    {{/if}}
    {{#ui-dropdown class="item"}}
      <div class="default text">Settings</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        {{#if session.isAuthenticated}}
          <div class="item" {{action (action 'openSettings')}}>
            Settings
          </div>
          <div class="item" {{action (action 'signOut')}}>
            Log Out
          </div>
        {{else}}
          <div class="item" {{action (action 'signIn')}}>
            Log In
          </div>
        {{/if}}
      </div>
    {{/ui-dropdown}}
  </div>

</div>
<div class="ui container menu-pad">
  {{outlet}}
</div>
