{{#paper-sidenav-container class="inner-sidenav"}}
  {{#paper-sidenav class="md-whiteframe-z2" name="left"
                   lockedOpen="xl" open=leftSideBarOpen
                   onToggle=(action (mut leftSideBarOpen))}}
    {{#paper-toolbar as |toolbar|}}
      {{#paper-toolbar-tools}}
        <h2>User Profile</h2>
        <span class="flex"></span>
        {{#paper-button iconButton=true}}
          {{paper-icon "navigate-before"}}
        {{/paper-button}}
      {{/paper-toolbar-tools}}

    {{/paper-toolbar}}

    {{#paper-content padding=true}}
    {{/paper-content}}
  {{/paper-sidenav}}

  {{#paper-card-content class="flex"}}
    <div class="layout-fill layout-align-start-center layout-column">
      {{#paper-toolbar}}
        <div class="md-toolbar-tools">
          {{#paper-sidenav-toggle name="left" class="hide-gt-lg" as |toggleAction|}}
            {{#paper-button onClick=(action toggleAction)
                            iconButton=true}}
              {{paper-icon "menu"}}
            {{/paper-button}}
          {{/paper-sidenav-toggle}}

          {{#link-to 'shows.show-list'}}
            {{paper-button label='Home'}}
          {{/link-to}}
          {{#each model as |show|}}
            {{#link-to 'shows.show-detail' show.id}}
              {{paper-button label=show.name}}
            {{/link-to}}
          {{/each}}
        </div>
      {{/paper-toolbar}}
      {{outlet}}
    </div>
  {{/paper-card-content}}
{{/paper-sidenav-container}}
