{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#link-to 'shows.show-list'}}
      {{paper-button label='Home'}}
    {{/link-to}}
    {{#each model as |show|}}
      {{#link-to 'shows.show-detail' show.id}}
        {{paper-button label=show.name}}
      {{/link-to}}
    {{/each}}
    <span class="flex"></span>
    {{#if session.isAuthenticated}}
      <h3>{{session.currentUser.displayName}}</h3>
    {{/if}}
    {{#paper-menu width=4 position="target-right target" as |menu|}}
      {{#paper-button onClick=(action "toggleMenu" target=menu) iconButton=true}}
        {{paper-icon "more_vert" class="md-menu-origin"}}
      {{/paper-button}}
      {{else}}
      {{#if session.isAuthenticated}}
        {{#paper-menu-item onClick=(action 'openSettings')}}
          {{paper-icon 'settings' class="md-menu-align-target"}}
          <span>Settings</span>
        {{/paper-menu-item}}
        {{#paper-menu-item onClick=(action 'signOut')}}
          {{paper-icon 'exit-to-app' class="md-menu-align-target"}}
          <span>Log Out</span>
        {{/paper-menu-item}}
      {{else}}
      {{#paper-menu-item onClick=(action 'signIn')}}
        {{paper-icon 'done' class="md-menu-align-target"}}
        <span>Log In</span>
      {{/paper-menu-item}}
      {{/if}}

    {{/paper-menu}}

  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
{{outlet}}
